@import "fonts";

$background-color: rgba(0, 0, 0, 0.4);
$primary-text-color: #ededed;
$accent-color: #fec600;
$popup-bg-color: #141414;
$popup-color: #f2f2f2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  font-style: normal;
}

a:visited {
  color: $primary-text-color;
}
a:active {
  color: $primary-text-color;
}

body {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 147%;
  color: $primary-text-color;

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: $background-color;
    display: none;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  .popup_background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup_menu {
    display: none;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    margin: 0 auto;
    max-width: 590px;
    width: 90%;
    z-index: 25;
    box-sizing: border-box;
    background-color: $popup-bg-color;
    color: $primary-text-color;
    padding: 73px 30px 10px;

    .popup_logo {
      display: flex;
      justify-content: center;
      img {
        margin: 0 auto 48px;
        width: 315px;
        height: 43px;
      }
    }

    .popup-title {
      font-family: "Nunito-ExtraBold", sans-serif;
      text-align: center;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0.035em;
      max-width: 344px;
      margin: 0 auto 56px;
      text-transform: uppercase;
    }

    .popup-text {
      font-size: 14px;
      line-height: 147%;
      text-align: center;
      color: $primary-text-color;
    }

    .btn-close {
      position: absolute;
      top: 16px;
      right: 16px;

      &:hover {
        cursor: pointer;
      }
    }

    .download-modal_inputs {
      margin: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      align-items: center;
      position: relative;

      label {
        align-self: flex-start;
        margin-bottom: 33px;
        position: relative;
        width: 100%;
        color: $primary-text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 147%;
      }

      label:last-of-type {
        margin-bottom: 0;
      }

      .input-title {
        color: $popup-color;
      }

      input {
        width: 100%;
        height: 50px;
        color: $popup-color;
        border: 1px solid $popup-color;
        padding: 5px 10px 5px 10px;
        border-radius: 300px;
        background: transparent;
        margin-top: 5px;
      }

      .download-modal-btn {
        width: 100%;
        max-width: 250px;
        height: 50px;
        margin-top: 25.58px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $popup-bg-color;
        background: $accent-color;
        border: 1px solid $accent-color;
        border-radius: 300px;
        transition: 0.5s;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }
    }

      .private-info-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
      }

     .private-info-text {
        max-width: 250px;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 147%;
        color: $primary-text-color;
        opacity: 0.5;

        a {
          text-decoration: underline;
          color: $primary-text-color;
        }
      }
  }

  .popup_menu-gratitude {
          display: none;
          vertical-align: middle;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          overflow-y: auto;
          max-height: calc(100vh - 50px);
          margin: 0 auto;
          max-width: 590px;
          width: 90%;
          z-index: 25;
          box-sizing: border-box;
          background-color: $popup-bg-color;
          color: $primary-text-color;
          padding: 77px 31px 77px 29px;

        .popup_logo {
          display: flex;
          justify-content: center;
          margin: 0 auto 48px;
            img {
                width: 315px;
                height: 43px;
            }
        }

        .popup-title {
          font-family: "Nunito-ExtraBold", sans-serif;
          text-align: center;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: 0.035em;
          max-width: 530px;
          margin: 0 auto 43px;
          text-transform: uppercase;
        }

        .popup-text {
          font-size: 14px;
          line-height: 147%;
          text-align: center;
          max-width: 386px;
          margin: 0 auto;
          color: $primary-text-color;
        }

        .btn-close {
          position: absolute;
          top: 16px;
          right: 16px;

          &:hover {
              cursor: pointer;
          }
        }
    }  

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .block_video {
      video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
      }
    }

    .content-container {
      overflow-y: scroll;
      height: 100%;
      padding: 0 360px 0 360px;

      .logo {
        width: 215px;
        height: 29px;
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right -10% bottom 0%;
        opacity: 0.1;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(8, 7, 7);
        opacity: 0.5; 
        left: 0;
        z-index: 2;
      }

      header {
        position: relative;
        z-index: 5;
        .container {
          padding: 32px 0 26px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          border-bottom: 1px solid rgba(237, 237, 237, 0.2);

          .lang_block {
            display: flex;
            align-items: center;
            color: $primary-text-color;

            .dropdown-lang {
              margin-right: 39px;
            }

            .active_langs {
              display: flex;
              align-items: center;
              color: $primary-text-color;
              &:hover {
                cursor: pointer;
              }

              .lang-title {
                color: $primary-text-color;
                text-transform: uppercase;
              }

              img {
                margin-left: 6px;
              }
            }

            .disabled_langs {
              position: absolute;

              div {
                margin-top: 5px;
              }

              a {
                text-decoration: none;
                font-size: 14px;
                line-height: 147%;
                text-transform: uppercase;
                color: $primary-text-color;
                transition: 0.5s;
                &:hover {
                  text-decoration: underline;
                  cursor: pointer;
                }
              }

              ul {
                list-style: none;
                margin-right: 35px;
              }
            }

            .contact_us {
              font-family: "Inter-Medium", sans-serif;
              display: block;
              padding: 13px 26px;
              border: 1px solid $accent-color;
              border-radius: 314px;
              color: $accent-color;
              background: transparent;
              text-decoration: none;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              &:hover {
                cursor: pointer;
                filter: drop-shadow(0px 0px 10px #fec600);
              }
            }
          }
        }
      }

      .main-info {
        position: relative;
        z-index: 4;
        padding-top: 50px;

        .container {
          border-bottom: 1px solid rgba(237, 237, 237, 0.2);

          .about {
            display: flex;
            justify-content: space-between;
            margin-bottom: 37px;

            &-title {
              max-width: 667px;
              width: 100%;
              font-family: "Nunito-ExtraBold", sans-serif;
              font-size: 38px;
              line-height: 140%;
              letter-spacing: 1.33px;
              text-transform: uppercase;
            }

            &-block {
              display: flex;
              flex-direction: column;
              max-width: 436px;
            }
          }

          .hero-section {
            display: flex;
            flex-direction: column;
            margin-bottom: 49px;

            .brand-info {
              display: block;
              .primary-button {
                display: block;
                float: right;
                margin-right: 195px;
                padding: 17.5px 24px;
                width: 237px;
                height: 50px;
                border: 1px solid $accent-color;
                border-radius: 314px;

                &-text {
                  font-family: "Inter-Medium", sans-serif;
                  background: transparent;
                  text-decoration: none;
                  color: $accent-color;
                  font-style: normal;
                  font-size: 12px;
                  line-height: 15px;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;
                }

                &:hover {
                  cursor: pointer;
                  filter: drop-shadow(0px 0px 10px #fec600);
                }
              }

              .brand {
                display: flex;
                justify-content: space-between;
                width: 221px;
              }

              &-title {
                font-family: "Inter-Medium", sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
                color: $primary-text-color;
                opacity: 0.5;
                margin-bottom: 30px;
              }

              &-about {
                display: flex;
                justify-content: space-between;
                max-width: 1002px;
                width: 100%;
                margin-bottom: 34px;

                &-owner {
                  display: flex;
                }

                .logo-imans {
                  width: 101px;
                  height: 20px;
                  margin-right: 35px;
                }

                &-text {
                  width: 299px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                }
              }
            }

            .partner-original {
              max-width: 311px;
              display: flex;
              align-items: flex-start;
              flex-wrap: wrap;
              &-title {
                margin-right: 30px;
              }
              .eclipse-logo {
                width: 132px;
                height: 48px;
                margin-bottom: 108px;
              }
            }

            .content-block {
              display: flex;
              justify-content: space-between;

              .about-clients {
                max-width: 380px;
                display: flex;
                flex-direction: column;

                &-list {
                  display: grid;
                  grid-template-columns: 190px 1fr;
                  column-gap: 40px;

                  img {
                    margin-right: 10px;
                  }
                }

                &-text {
                  display: flex;
                  align-items: center;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 140%;
                  color: $primary-text-color;
                  margin-bottom: 14px;
                }
                &-text:nth-last-child(-n + 2) {
                  margin-bottom: 0px;
                }
              }

              .contacts-block {
                display: flex;
                align-items: flex-end;

                .contacts-info {
                  max-width: 434px;
                  display: flex;
                  flex-direction: column;

                  .partner {
                    max-width: 311px;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    &-title {
                      margin-right: 30px;
                    }
                    .eclipse-logo {
                      width: 132px;
                      height: 48px;
                      margin-bottom: 108px;
                    }
                  }

                  &-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 147%;
                    color: $primary-text-color;
                    margin-bottom: 30px;
                  }

                  .block-social {
                    display: flex;
                    justify-content: space-between;

                    .region-name {
                      font-family: "Inter-Medium", sans-serif;
                      font-size: 14px;
                      line-height: 140%;
                      color: $primary-text-color;
                      margin-bottom: 18px;
                    }

                    .social-links {
                      display: flex;
                      align-items: center;
                    }

                    .region-social-links {
                      display: flex;
                      flex-direction: column;
                    }
            
                                
                    .social-links-icon {
                      width: 40px;
                      height: 40px;
                      margin-right: 16px;
                      transition: transform 0.2s ease-in-out;
                      &:hover {
                        transform: scale(1.125); 
                      }
                    }
                    .icon-email {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .company-info {
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        padding: 35px 0 38.5px 0;
        opacity: 0.5;

        &-blocks {
          flex-direction: column;
        }

        &-blocks:not(:last-child) {
          margin-right: 20px;
        }

        .block-owner {
          max-width: 205px;
        }
        .block-cooperation {
          width: 250px;
        }

        &-title {
          font-size: 12px;
        }


        .copy-notification {
          display: inline-block;
          margin-left: 5px;
          padding: 4px 8px;
          background-color: #f0f0f0;
          border-radius: 4px;
          font-size: 12px;
          color: #555555;
        }
      }
    }
  }

  @media screen and (max-width: 1850px) {
    .main {
      .content-container {
        padding: 0 200px 0 200px;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .main {
      .block_video {
        video {
          left: -50%;
        }
      }

      .content-container {
        .main-info {
          .container {
            .about {
              &-title {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1220px) {
    .main {
      .content-container {
        padding: 0 100px 0 100px;
        .main-info {
          .container {
            .about {
              &-title {
                font-size: 26px;
                letter-spacing: 0.91px;
              }
            }

            .hero-section {
              .brand-info {
                &-about {
                  max-width: 735px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 997px) {
    .main {
      .content-container {
        .main-info {
          .container {
            .hero-section {
              .brand-info {
                display: flex;
                flex-direction: column;

                .primary-button {
                  margin: 0 auto 70px;
                }
              }

              .content-block {
                .about-clients-list {
                  grid-template-columns: 180px 1fr;
                }
                .contacts-block {
                  .contacts-info {
                    .eclipse-logo {
                      margin-bottom: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 945px) {
    .main {
      .content-container {
        .main-info {
          .container {
            .about {
              flex-direction: column;
              margin-bottom: 44px;

              &-title {
                display: flex;
                align-items: center;
                margin-bottom: 35px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 850px) {
    .main {
      .block_video {
        video {
          left: -115%;
        }
      }
      .content-container {
        .main-info {
          .container {
            .hero-section {
              margin-bottom: 62px;
              .brand-info {
                &-about {
                  margin-bottom: 62px;
                }
              }
              .partner {
                max-width: 311px;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                .partner-title {
                  max-width: 102px;
                  margin-right: 30px;
                }

                .eclipse-logo {
                  width: 132px;
                  height: 48px;
                  margin-bottom: 62px;
                }
              }
              .content-block {
                flex-direction: column;

                .about-clients {
                  margin-bottom: 62px;
                  &-list {
                    grid-template-columns: 200px 1fr;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .main {
      .block_video {
        video {
          left: -130%;
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .main {
      .content-container {
        padding: 0 75px 0 75px;

        .company-info {
                display: block;

                .primary-title {
                    margin-bottom: 0;
                }
                &-blocks {
                    margin-bottom: 20px;
                }
                &-title{
                font-size: 12px;
                }
            }
      }
    }
  }

  @media screen and (max-width: 530px) {
    .popup_menu,
    .popup_menu-gratitude {
      max-width: 340px;
      padding: 45px 19px 45px 21px;

      .popup_logo {
        margin: 0 auto 48px;
        img {
          margin: 0 auto;
          width: 198px;
          height: 27px;
        }
      }

      .popup-title {
        font-size: 18px;
        margin-bottom: 35px;
      }

      .popup-text {
        font-size: 14px;
        line-height: 147%;
        text-align: center;
        color: $primary-text-color;
      }

      .btn-close {
        position: absolute;
        top: 16px;
        right: 16px;

        &:hover {
          cursor: pointer;
        }
      }

      .download-modal_inputs {
        display: flex;
        flex-direction: column;
        max-width: 300px;

        label {
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 140%;
          color: $popup-color;
        }

        label:last-of-type {
          margin-bottom: 0;
        }

        input {
          max-width: 300px;
          padding: 0 20px;
        }

        input::placeholder {
          font-size: 14px;
        }

        .download-modal-btn {
          margin-top: 35px;
          margin-bottom: 15px;
          width: 100%;
          max-width: 300px;
        }

      }

     .private-info-wrapper {
        justify-content: flex-start;
      }
    }

    .main {
      .block_video {
        video {
          left: 0;
          top: 0;
          min-width: auto;
          min-height: auto;
          height: 100%;
        }
      }
      .content-container {
        padding: 0 25px 0 25px;      
      
        header {
          .container {
            .logo {
              width: 133px;
              height: 18px;
            }

            .lang_block {
              .dropdown-lang {
                margin-right: 12px;
              }
            }
          }
        }

        .main-info {
          .container {
            .hero-section {
              .brand-info {
                &-about {
                  &-text {
                    max-width: 250px;
                  }
                }
              }

              .partner {
                .eclipse-logo {
                  width: 77px;
                  height: 34px;
                }
              }
            }
          }

        }
      }
    }
  }

  @media screen and (max-width: 429px) {
    .main {
      .content-container {
        padding: 0 18px 0 17px;

        header {
          .container {
            .lang_block {
              ul {
                margin-right: 12px;
              }
              .contact_us {
                font-size: 11px;
                width: 122px;
                height: 34px;
                padding: 9px 22px;
              }
            }
          }
        }

        .main-info {
          .container {
            .hero-section {
              .brand-info {
                &-about {
                  .logo-imans {
                    width: 77px;
                    height: 15px;
                    margin-right: 58px;
                  }

                  &-text {
                    max-width: 230px;
                  }
                }
              }

              .content-block {
                .about-clients-list {
                  column-gap: 18px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    .main {
      .content-container {
        padding: 0 18px 0 17px;

        header {
          .container {
            .logo {
              width: 107px;
              height: 23px;
            }
          }
        }
        .main-info {
          .container {
            .hero-section {
              .brand-info {
                &-about {
                  &-text {
                     max-width: 189px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 346px) {
    .main {
      .content-container {
        .main-info {
          .container {
            .hero-section {
              .brand-info {
                &-about {
                  &-text {
                     max-width: 100px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}