<div class="block_video">
  <video
    src="./assets/video/background-video.mov"
    autoplay
    muted
    playsinline
    loop
    ></video>
</div> 
<div class="content-container">
  {{> header}}
  {{> main}}
  {{> footer}}
  {{> modal}}
</div>

